<header>
  <div class="navbar">
    <div class="contaier">
      <div class="navbar-header">
        <button class="toggle">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <a href="" class="navbar-brand">TUFOUND</a>
      </div>
      <!-- navbar-header -->

      <ul class="nav navcollaps">
        <li><a href="http://localhost:8080/acquired-board">습득 게시글</a></li>
        <li><a href="http://localhost:8080/lost-board">분실 게시글</a></li>
        <li><a href="http://localhost:8080/messages/post">쪽지</a></li>
        <li><a href="http://localhost:8080/messages">쪽지보관</a></li>
        <li><a href="#">로그아웃</a></li>
        <li><a href="http://localhost:8080/admin">어드민</a></li>
      </ul>
    </div>
    <!-- contaier -->
  </div>
  <!-- navbar -->
</header>
